PORT=3000
HOST=0.0.0.0
ALLOW_REAL_ENROLLMENTS=false
VTEX_BASE_URL=https://cruzeirodosul.myvtex.com
VTEX_BINDING_ID=b609c118-0b5f-4ae9-b099-d94f79af4a58
VTEX_OPERATOR_EMAIL=fabio.boas50@polo.cruzeirodosul.edu.br
SKIP_POST_ORDER=0
